# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
# Project-specific executables
Ness1/bin/*
Ness1/zip/*
Ness1/gcov/*
Ness1/*.xml
Ness2/bin/*
Ness2/zip/*
Ness2/gcov/*
Ness2/*.xml
Ness3/bin/*
Ness3/zip/*
Ness3/gcov/*
Ness3/*.xml

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

